<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WpfReport.Properties.Settings.VeterinariaConnectionString"
      connectionString="Data Source=.;Initial Catalog=Veterinaria;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WpfReportesProyecto.Properties.Settings.bitacoraConnectionString"
      connectionString="Data Source=.;Initial Catalog=bitacora;User ID=sa;Password=b02235eg"
      providerName="System.Data.SqlClient" />
    <add name="WpfReportesProyecto.Properties.Settings.ClinicasCR_PrograIIIConnectionString"
      connectionString="Data Source=.;Initial Catalog=ClinicasCR-PrograIII;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>